body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-admateria {
    text-align: center;
}

.form-box-admateria {
    margin-top: 70px;
    background-color: #0052a0;
    padding: 50px 30px;
    width: 400px;
    height: 300px;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-admateria {
    color: white;
    margin-bottom: 30px;
    font-size: 60px;
}

.form-admateria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.input-admateria {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 1px;
    background-color: #d9e4f1;
    font-size: 30px;
}

.btn-admateria {
    background-color: white;
    color: black;
    border: none;
    width: 100px;
    align-self: center;
    font-size: 25px;
}

.btn-admateria:hover {
    background-color: #ececec;
    transition: 150ms;

}

.list-btn-admateria {
    background-color: #0052a0;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 1px;
    margin-top: 30px;
    font-size: 25px;
}

.list-btn-admateria:hover {
    background-color: #004080;
    transition: 150ms;
}

.img p {
    font-size: 40px;
}