@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Jomhuria ;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
  
}

header {
    width: 100%;
    background-color: #004AAD;
    color: white;
    height: 140px;
    display: flex;
  }

  .titulo{
    animation: text-color-change 5s infinite; /* Animação de cor RGB */

    text-align:center;
    font-size: 150px;
    color: rgb(255, 255, 255);
    line-height: 1.0;
    text-shadow: 
          -1px -1px 0 black,  
          1px -1px 0 black,  
          -1px 1px 0 black,  
          1px 1px 0 black;
  }
  
  .cabecalho {
    display: flex;
    align-items: center;
}

.cabecalho a {
    margin-left: 2em;
    margin-top: -1em;
}

.adicionar  {
    margin-left: 20%;
}