.header-dado {
    position: fixed; /* Fixa o header no topo */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura */
    background-color: #004AAD;
    color: white;
    padding: 20px 0;
    text-align: center;
    z-index: 1000; /* Garante que o header fique por cima de outros elementos */
    height: 60px; /* Aumenta a altura do header */
    font-size: 60px;

}

body {
    padding-top: 80px; /* Adiciona espaço para o conteúdo não ficar escondido atrás do header */
}
/* Ajuste para telas menores, como tablets */
@media (max-width: 768px) {
    .header-dado {
        font-size: 40px;
        padding: 15px 0;
    }
}

/* Ajuste para telas muito pequenas, como smartphones */
@media (max-width: 480px) {
    .header-dado {
        font-size: 30px;
        padding: 10px 0;
    }
}