body{
 background-color: rgb(255, 255, 255)   ;
}
header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;
}
main{
    background-color: blue;
    width: 100%;
    height: 400px;
}
footer{
    background-color: wheat;
    width: 100%;
    height: 170px;
}
h1{
    margin-left: 24%;
    font-size: 100px;
    margin-top: -10px;

}
.banner {
    width: 100%;
    height: 450px;
  }

  .botao-materia {
    width: 80vw;
    background-color: #004AAD; /* Cor azul */
    color: white; /* Cor do texto */
    padding: 35px 0;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 300ms; 
  
  }
  
  .botao-materia:hover {
    background-color: #005dc0; /* Cor azul escuro no hover */
    transition: 300ms;
  }
  
  .botao-materia:active {
    background-color: #004093;
    transition: 100ms;
  }
  
  .container-botao-materia {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .botao-adicionar-materia{
    width: 45vw;
    background-color: #b9b9b9; /* Cor azul */
    color: rgb(255, 255, 255); /* Cor do texto */
    padding: 25px 0;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 300ms; 
  
  }
  
  .botao-adicionar-materia:hover {
    background-color: #cdcdcd; /* Cor azul escuro no hover */
    transition: 300ms;
  }
  
  .botao-adicionar-materia:active {
    background-color: #919191;
    transition: 100ms;
  }
  
  .container-botao-adicionar-materia {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  