@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

body{
 background-color: rgb(255, 255, 255) ;
 font-family:Jomhuria ;
}
header{
    background-color: #004AAD;
    width: 100%;
    height: 150px;
}
main{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70vh;
  
}
footer{
    background-color: wheat;
    width: 100%;
    height: 170px;
}

.titulo{
  text-align:center;
  font-size: 150px;
  margin-top: -10px;
  color: rgb(255, 255, 255);
  text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;
}
.banner {
    width: 100%;
    height: 100%;
    border-width: 40px 50px;
    border-style: solid;
border-color: rgb(255, 255, 255);
  }

  .botao-materia {
    width: 80vw;
    background-color: #004AAD; /* Cor azul */
    color: white; /* Cor do texto */
    padding: 35px 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms; 
    font-family:Jomhuria ;
    font-size: 80px;
    width: 93%;
    text-decoration: none;
    ;

  }
  
  .botao-materia:hover {
    background-color: #005dc0; /* Cor azul escuro no hover */
    transition: 300ms;
  }
  
  .botao-materia:active {
    background-color: #004093;
    transition: 100ms;
  }
  
  .container-botao-materia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .botao-adicionar-materia{
    width: 45vw;
    background-color: #b9b9b9; /* Cor azul */
    color: rgb(255, 255, 255); /* Cor do texto */
    padding: 25px 0;
    border: none;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms; 
    font-size: 60px;
  margin-top: 1%;
  }
  
  .botao-adicionar-materia:hover {
    background-color: #cdcdcd; /* Cor azul escuro no hover */
    transition: 300ms;
  }
  
  .botao-adicionar-materia:active {
    background-color: #919191;
    transition: 100ms;
  }
  
  .container-botao-adicionar-materia {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  