@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Jomhuria ;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    height: 15vh;
    background-color: #0057b8;
}


.header {
    width: 100%;
    background-color: #004AAD;
    color: white;
    font-size: 70px; /* Aumenta o tamanho do texto */
    height: 140px;
  
  }

  .header h1{
    text-align:center;
    font-size: 150px;
    margin-top: -10px;
    color: rgb(255, 255, 255);
    line-height: 1.0;
    text-shadow: 
          -1px -1px 0 black,  
          1px -1px 0 black,  
          -1px 1px 0 black,  
          1px 1px 0 black;
  }
  

.container h1 {
   
    color: white;
    padding: 15px 0;
    font-size: 90px;
    margin-bottom: 0;
    
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

thead th {
    background-color: #e1e8ed;
    color: black;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border-top: 3px solid #0057b8;
}

thead th:last-child, thead th:nth-child(2) {
    text-align: right;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tbody td:last-child, tbody td:nth-child(2) {
    text-align: right;
}


/* Modal */
/* Modal */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
}

.modal-content {
    background-color: #d2d9e3; /* Cor de fundo branca */
    margin: 15% auto;
    padding: 20px 0px 0px 0px;    
    border-radius: 2px;
    width: 400px; /* Largura da caixa */
    text-align: center; /* Centraliza o texto */
    display: flex; /* Adicionado */
    flex-direction: column; /* Adicionado */
    justify-content: space-between; /* Adicionado */
    height: 200px; /* Adicionado (ajuste conforme necessário) */

}

.modal-content h2 {
    font-size: 40px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    padding: 10px; /* Adiciona preenchimento ao redor do texto */
    text-align: justify; /* Justifica o texto */
}


.modal-footer {
    background-color: #0057b8; /* Fundo azul para a área dos botões */
    padding: 10px; /* Espaço dentro da área dos botões */
    display: flex; /* Flexbox para alinhar os botões */
    justify-content: flex-end; /* Alinha os botões à direita */
   
}

.modal-footer button {
    padding: 0px 42px; /* Espaçamento interno dos botões */
    margin-left: 10px; /* Espaço entre os botões */
    border: none; /* Remove borda */
    border-radius: 2px; /* Borda arredondada */
    cursor: pointer; /* Muda o cursor para pointer */
    font-size: 30px; /* Tamanho da fonte dos botões */
    color: #004aac; /* Cor do texto branco */
    background-color: #ffffff; /* Fundo branco */
    transition: background-color 0.3s; /* Efeito de transição para hover */
    
}

.modal-footer .btn-confirm:hover,
.modal-footer .btn-cancel:hover {
    background-color: #e1e8ed; /* Efeito hover */

}

.delete-btn{
    color:black;
    text-decoration: none !important;
}

tbody{
    font-size: 50px;
}