/* Remove o espaçamento do body para o header encostar nas bordas */
body {
    margin: 0;
    padding: 0;
}

.accordion {
    width: 100%;
    max-width: 80vw;
    margin: 50px auto;
}

.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.accordion-header {
    background-color: #004AAD;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 25px;
}

.accordion-header::after {
    content: '▼';
    float: right;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e0e0e0;
    padding: 0 15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.accordion-content p {
    padding: 15px 0;
}



header {
    background-color: #004AAD; /* Cor de fundo azul */
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remover padding interno */
}

header h1 {
    margin-bottom: 120px;
color: white;
    font-size: 130px;
    font-weight: bold;
    animation: text-color-change 5s infinite; /* Animação de cor RGB */
    text-align: center;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;
}



/* Estilização para os botões de Listar e Voltar */
.container-botao-materia {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 20px; /* Espaço entre os botões */
    padding: 20px;
    margin-top: 20px;
}

.botao-materia, .botao-voltar {
    background-color: #004AAD; /* Cor azul que combina com seu site */
    color: #fff;
    border: none;
    padding: 10px 30px; /* Tamanho maior nos botões */
    font-size: 16px;
    border-radius: 2px; /* Bordas mais pontudas */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suaviza transições de cor e movimento */
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar */
}

.botao-materia:hover, .botao-voltar:hover {
    background-color: #003680; /* Azul mais escuro no hover */
    transform: translateY(-3px); /* Leve movimento para cima no hover */
}

.botao-materia:active, .botao-voltar:active {
    background-color: #002350; /* Cor ainda mais escura ao clicar */
    transform: translateY(1px); /* Botão desce levemente ao ser pressionado */
}

.botao-materia a, .botao-voltar a {
    color: #fff;
    text-decoration: none;
}

.botao-materia a:hover, .botao-voltar a:hover {
    color: #ddd;
}
